<!-- <div class="top-strip"></div> -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    
<!--     <div class="navbar-header">
      <a class="navbar-brand" href="/">Structured3D</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
 -->
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#news">News</a></li> -->
        <li><a href="#abstract">Abstract</a></li>
        <li><a href="#paper">Paper</a></li>
        <li><a href="#download">Code and Dataset</a></li>
        <li><a href="interactive_viewer/viewer.html">Interactive Viewer</a></li>
        <!-- <li><a href="#license">License</a></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://kujiale.com">
            <img style="height:21px;" src="/static/img/ico/kujiale.png">
          </a>
        </li>

        <li>
          <a href="https://www.zju.edu.cn">
            <img style="height:21px;" src="/static/img/ico/zju.jpg">
          </a>
        </li>

        <li>
          <a href="https://www.tsinghua.edu.cn">
            <img style="height:21px;" src="/static/img/ico/tsu.jpg">
          </a>
        </li>

        <li>
          <a href="https://www.bath.ac.uk">
            <img style="height:21px;" src="/static/img/ico/bath.svg">
          </a>
        </li>

        <li>
          <a href="https://lambdalabs.com">
            <img style="height:21px;" src="/static/img/ico/lambda.png">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>
