body {
    font-size: 14px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.content {
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1100px;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 30px;
    text-align: left;
    margin-bottom: 5px;
}

.report-preview {
    display: inline-block;
    margin: 6px 3px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: 256px;
}

.report-thumb {
    height: 144px;
    width: auto;
}

div.help {
    font-family: 'Open Sans', sans-serif;
    margin-top: 40px;
    margin-bottom: 10px;
}
